{
    "parallel_parsing": 100,
    "insert_batch_size": 1000,
    "insert_chunk_size": 1000,
    "tool_db":{
        "url":"mysql://USER:PASSWORD@SERVER:PORT/SCHEMA",
        "min_connections":0,
        "max_connections":4,
        "keep_sec":5
    } , "prefixes" : {
        "wikibase": "http://wikiba.se/ontology#",
        "wdata": "http://www.wikidata.org/Special:EntityData/",
        "wd": "http://www.wikidata.org/entity/",
        "wds": "http://www.wikidata.org/entity/statement/",
        "wdv": "http://www.wikidata.org/value/",
        "wdref": "http://www.wikidata.org/reference/",
        "wdt": "http://www.wikidata.org/prop/direct/",
        "wdtn": "http://www.wikidata.org/prop/direct-normalized/",
        "p": "http://www.wikidata.org/prop/",
        "wdno": "http://www.wikidata.org/prop/novalue/",
        "ps": "http://www.wikidata.org/prop/statement/",
        "psv": "http://www.wikidata.org/prop/statement/value/",
        "psn": "http://www.wikidata.org/prop/statement/value-normalized/",
        "pq": "http://www.wikidata.org/prop/qualifier/",
        "pqv": "http://www.wikidata.org/prop/qualifier/value/",
        "pqn": "http://www.wikidata.org/prop/qualifier/value-normalized/",
        "pr": "http://www.wikidata.org/prop/reference/",
        "prv": "http://www.wikidata.org/prop/reference/value/",
        "prn": "http://www.wikidata.org/prop/reference/value-normalized/",
        "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "rdfs": "http://www.w3.org/2000/01/rdf-schema#",
        "xsd": "http://www.w3.org/2001/XMLSchema#",
        "owl": "http://www.w3.org/2002/07/owl#",
        "skos": "http://www.w3.org/2004/02/skos/core#",
        "schema": "http://schema.org/",
        "prov": "http://www.w3.org/ns/prov#",
        "geo": "http://www.opengis.net/ont/geosparql#"        
    }
}
